.navbarGroup {
    display: flex ;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center 
}
.navbarItem {
    font-size: 16pt; 
    font-weight: 700;
    width: 120px;
    height:60px;
    line-height: 60px;
    border-radius: 10px 10px 0px 0px
}